body {
    vertical-align: top;
    user-select: none;
}

#main_container {
    width: 80%;
    margin: 0 auto;
}

p {
    margin: 0;
}


/* Title */

header {
    border-bottom: 1vh solid #eee;
}

header h1 {
    font-size: 42px;
    margin-bottom: 5px;
}


/* Cookie */

#cookie_container {
    width: 46%;
    margin: 0;
    padding: 2%;
    text-align: center;
    display: inline-block;
    float: left
}

#cookieQuantity {
    font-size: 600%;
}

img#cookie {
    cursor: pointer;
    width: 100%;
    max-width: 640px;
    transition: all 0.05s;
    margin: 40px auto 0 auto;
}

img#cookie:active {
    width: 98%;
    max-width: 630px;
}


/* Shop */

#shop_container {
    width: 50%;
    margin: 0;
    display: inline-block;
    float: right;
}

#shop_container ul#products {
    list-style-type: none;
    padding: 0 1vw;
}

.product {
    background-color: #8BC34A;
    margin-top: 60px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
    font-weight: bold;
    height: 60px;
}

.product:hover {
    background-color: #689F38;
}

.product:active {
    background-color: #9CCC65;
}

.product .product_image {
    position: relative;
    top: -30px;
    height: 120px;
    margin-right: 10px;
}

.product .product_image, .product .product_text {
    display: inline-block;
    vertical-align: top;
}

.product .product_title {
    font-size: 24px;
    font-weight: normal;
}

.product .product_name {
    font-size: 30px;
    font-weight: bold;
}

.product .product_price {
    font-size: 20px;
    background-image: url("img/cookie_icon.svg");
    background-repeat: no-repeat;
    padding-left: 26px;
}

.product .product_owned {
    float: right;
    font-size: 50px;
}
